<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼 네임스페이스 지정 (매퍼와 쿼리 매칭) -->
<mapper namespace="com.commi.boot_settingweb.mapper.ReqInfoMapper">
	<select id="selectLCByYear" resultType="RequestInfoVO" parameterType="String">
		SELECT * FROM REQUESTINFO
		<where>
			requestCode = 'L'
			<if test='year != null and year != ""'>
			 AND SUBSTR(createDate, 1, 2) = #{year}
			</if>
		</where>
	</select>
</mapper>